$color-background: var(--color-background);
$color-foreground: var(--color-foreground);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-primary-header: var(--color-primary-header);
$color-primary-background: var(--color-primary-background);
$color-secondary-background: var(--color-secondary-background);
$color-primary-background-light: var(--color-primary-background-light);
$color-secondary-background-light: var(--color-secondary-background-light);
$color-primary-button-background: var(--color-primary-button-background);
$color-primary-button-text: var(--color-primary-button-text);
$color-middle: var(--color-middle);
$color-primary-text: var(--color-primary-text);
$color-secondary-text: var(--color-secondary-text);
$color-border-light: var(--color-border-light);
$color-background-smoke: var(--color-background-smoke);
$color-background-white: var(--color-background-white);
$color-background-white-hover: var(--color-background-white-hover);
$color-black: var(--color-black);
$color-box-background: var(--color-box-background);

@mixin box-colors-reset {
  background: inherit;
  box-shadow: inherit;
}
