@import "../common/palette";

footer {
  display: none;

  @media screen and (max-width: 500px) {
    height: 70px;
    z-index: 10;
    box-shadow: 0 3px 10px 0 var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-foreground;
    background: #000c;
    padding: 0 calc(50% - 512px);
    margin-top: auto;
  }

}
