@import "../common/palette";
@import "../common/text";

$header-size: 7em;

header {
  height: $header-size;
  z-index: 10;
  box-shadow: 0 3px 10px 0 var(--color-background);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "empty header socials";
  justify-items: center;
  align-content: center;
  color: $color-foreground;
  background: #000c;

  @media only screen and (max-device-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header socials";
  }

  @include font-header;
  p,
  h1,
  h2 {
    grid-area: header;
    font-size: 2.5em;
    font-weight: 400;

    @media (max-width: 1000px) {
      font-size: 2em;
    }

    &,
    & > a {
      gap: 0.2em;
      display: flex;
      flex-direction: column;
    }

    span {
      display: block;
      text-align: center;
    }

    .title {
      font-size: 1em;
    }

    .subtitle {
      font-size: 0.5em;
      line-height: 2rem;
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 100%;
    align-items: center;
    grid-area: socials;

    @media (min-width: 1000px) {
      margin-right: 50px;
    }
  }

  .github,
  .instagram {
    > svg {
      fill: $color-foreground;
    }
  }

  .github,
  .instagram,
  .avatar,
  .avatar > img {
    width: 2.25em;
    height: 2.25em;
  }

  .github,
  .instagram,
  .avatar {
    transition: 0.3s transform ease;

    &:hover {
      transform: scale(1.25);
    }
  }

  .avatar > img {
    border-radius: 50%;
  }
}
