@import "../common/palette";
@import "../common/text";

$header-size: 7em;

header {
  height: $header-size;
  z-index: 10;
  box-shadow: 0 3px 10px 0 var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-foreground;
  background: #000c;
  padding: 0 calc(50% - 512px);

  
  @media screen and (max-width: 500px) {
    justify-content: center;
  }

  @include font-header;
  p,
  h1,
  h2 {
    grid-area: header;
    font-size: 2.5em;
    font-weight: 400;
    margin-left: 50px;

    @media (max-width: 1000px) {
      font-size: 2em;
    }

    @media screen and (max-width: 500px) {
      margin-left: 0;
    }

    &,
    & > a {
      gap: 0.2em;
      display: flex;
      flex-direction: column;
    }

    span {
      display: block;
      text-align: center;
    }

    .title {
      font-size: 1em;
    }

    .subtitle {
      font-size: 0.5em;
      line-height: 2rem;
    }
  }
}


.socials {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 100%;
  align-items: center;
  margin-right: 50px;


.github,
.instagram {
  > svg {
    fill: $color-foreground;
  }
}

.github,
.instagram,
.avatar,
.avatar > img {
  width: 2.25em;
  height: 2.25em;
}

.github,
.instagram,
.avatar {
  transition: 0.3s transform ease;

  &:hover {
    transform: scale(1.25);
  }
}

.avatar > img {
  border-radius: 50%;
}
}

header .socials {
  @media screen and (max-width: 500px) {
    display: none;
  }
}