@use "sass:color";
@import "../common/palette";

body {
  background: $color-background;
  background: linear-gradient(90deg,
      $color-primary-background,
      $color-secondary-background );
  color: $color-foreground;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .bg-container {

    &,
    >canvas {
      width: 100vw;
      height: 100vh;
      position: fixed;
    }

    background-image: paint(gradientee);
    z-index: -2;
    --gradientee-color-from: #{$color-primary-background};
    --gradientee-color-to: #{$color-secondary-background};
    --gradientee-box-size: 60;
    --gradientee-seed: 3200;
    --gradientee-deflection-level: 20;
    --gradientee-color-randomness: 0;

    @media only screen and (orientation: portrait) and (max-width: 1000px) {
      --gradientee-box-size: 40;
    }

    @media only screen and (orientation: portrait) and (max-width: 700px) {
      --gradientee-color-from: #{$color-primary-background-light};
      --gradientee-color-to: #{$color-secondary-background-light};
      --gradientee-box-size: 30;
    }

    >canvas {
      z-index: -1;

      @supports (background: paint(id)) {
        display: none;
      }
    }
  }
}

svg.defs {
  width: 0;
  height: 0;
}

ol,
li {
  margin-left: 2em;
}