@use "sass:color";
@import "../common/palette";

body {
  background: $color-background;
  background: linear-gradient(
    90deg,
    $color-primary-background,
    $color-secondary-background
  );
  color: $color-foreground;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .bg-container {
    &,
    > canvas {
      width: 100vw;
      height: 100vh;
      position: fixed;
    }

    background-image: paint(gradientee);
    z-index: -2;
    --gradientee-color-from: #{$color-primary-background};
    --gradientee-color-to: #{$color-secondary-background};
    --gradientee-box-size: 60;
    --gradientee-seed: 3200;
    --gradientee-deflection-level: 20;
    --gradientee-color-randomness: 0;

    > canvas {
      z-index: -1;

      @supports (background: paint(id)) {
        display: none;
      }
    }
  }
}

svg.defs {
  width: 0;
  height: 0;
}

//
//.content {
//  width: 1024px;
//  margin: 32px auto 16px;
//
//  display: flex;
//  flex-direction: column;
//  gap: 16px;
//
//  h2 {
//    align-self: center;
//    font-size: 1.7rem;
//    padding: 0 20px 10px;
//  }
//
//  p {
//    text-align: justify;
//    font-size: 1.1rem;
//  }
//
//  figure {
//    display: flex;
//    flex-direction: column;
//  }
//
//  figcaption {
//    align-self: flex-end;
//    font-size: 1rem;
//    font-style: italic;
//    padding-top: 4px;
//  }
//}

ol,
li {
  margin-left: 2em;
}
