@import "../common/text";
@import "../common/palette";

main {
  flex-grow: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  article-box {
    display: grid;
    width: min(80vw, 1280px);
    max-width: 1280px;
    min-height: 80vh;
    margin: 3em;

    pre {
      @media (max-width: 1024px) {
        max-width: 65vw;
      }
    }
  }

  article {
    border-radius: 15px;
    margin: 15px;

    > * {
      margin: 2.5em 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: 2.5em;
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: calc(100% - 2em);
      margin: 0.5em auto;
      gap: 0.2em;
      align-items: center;

      @include font-header;

      &::after {
        content: "";
        width: calc(100% + 2em);
        height: 0.125em;
        background: linear-gradient(
          90deg,
          $color-primary-background,
          $color-secondary-background
        );
        transform: skewX(-45deg);
        filter: brightness(1.3);
      }

      .subtitle {
        font-size: 0.5em;
      }
    }

    h2,
    h3 {
      margin: 2em 0 0.7em 0;
    }
  }
}
