@import "../common/palette";
@import "../components/box-mixins";

nav.main {
  display: grid;
  place-content: center;
}

ul.posts {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 1rem;
  list-style-type: none;
  margin: 5rem 0;

  @media (max-width: 1024px) {
    grid-template-columns: 500px;
    gap: 3rem;
  }

  li {
    width: 450px;
    min-height: 200px;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    display: grid;
  }

  article-box {
    height: 100%;

    .box {
      //@include box-colors-reset;
      @include box-border-size(0px);
      @include box-colors;

      border-radius: 15px;

      &,
      &::before {
        transition-duration: 200ms;
        transition-property: --border-angle, box-shadow, width, height, top,
          left;
      }
    }

    &:hover .box {
      @include box-border-size(5px);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
