@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import "../common/palette";
@import "../common/text";

body {
  line-height: 2em;

  @include font-content;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

article {
  padding: 1.5em;
}

h2,
h3,
thead,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  @include font-header;
}

article a {
  &,
  &:visited,
  &:hover {
    color: $color-primary-text;
    border-bottom: 1px solid;
    padding-bottom: 0.1em;
    font-size: 1.05em;
  }
}

li {
  line-height: 1.75em;
  font-size: 1.05em;
}
