@mixin box-border-size($width) {
  &::before {
    content: " ";
    position: absolute;
    top: $width;
    left: $width;
    width: calc(100% - ($width * 2));
    height: calc(100% - ($width * 2));
    border-radius: 10px;
    background: #000;
  }
}