@import "../common/palette";
@import "./box-mixins";

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 90deg;
}

.box {
  --border-angle: 90deg; /*  needed for firefox to have a valid output */
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  border-radius: 18px;
  position: relative;
  opacity: 0.8;

  @include box-colors;

  &.animate {
    transition: --border-angle 700ms;
  }

  @include box-border-size(0px);
}

article-box {
  display: grid;

  article {
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
  }

  &:hover .box.animate {
    --border-angle: 270deg;
  }
}
