<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRT45XSYFR"></script>
    <script>
        cookieConsentName = "makingui-consent";
        function execCookies() {
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-ZRT45XSYFR',  {'anonymize_ip': true});
        }
        if (window.localStorage.getItem(cookieConsentName) === '1') {
            execCookies();
        }
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="Opinionated guide through web development and design">
    <meta name="keywords" content="HTML, CSS, JavaScript, TypeScript, React, UI, WebDev">
    <meta name="author" content="Fogel Fogelman">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="Eleventy">
    {% if title %}
    <meta property='og:title' content='Making UI - {{ title }}'/>
    <meta property='og:image' content='https://making-ui.dev/images/thumbnails/{{ title | slug }}.png'/>
    <meta property='og:description' content='{{ lead }}'/>
    <meta property='og:url' content='https://making-ui.dev/{{ title | slug }}'/>
    {%  else %}
    <meta property='og:title' content='Making UI'/>
    <meta property='og:image' content='https://making-ui.dev/images/thumbnails/index.png'/>
    <meta property='og:description' content='Opinionated guide through web development and design'/>
    <meta property='og:url' content='https://making-ui.dev/'/>
    {%  endif %}
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <meta property="og:type" content="website" />
    <title>{{ metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    {% if stylesheet %}
        <link rel="stylesheet" href="{{ '/css/content/' + stylesheet + '.css' | url}}"/>
    {% endif %}
    <script type="text/javascript">
        if ('paintWorklet' in CSS){
            CSS.paintWorklet.addModule("/js/gradientee-worklet.min.js");
        }
    </script>
    <script type="text/javascript" src="/js/gradientee.min.js"></script>
</head>
<body>
     <svg class="defs" viewBox="0 0 150 40" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="blurBg">
          <feGaussianBlur stdDeviation="1" />
        </filter>
        <g id="bg">
          <circle r="60" cx="20" cy="20" opacity="20%" filter="url(#blurBg)" />
          <circle r="85" cx="20" cy="20" opacity="30%" filter="url(#blurBg)" />
          <circle r="110" cx="20" cy="20" opacity="40%" filter="url(#blurBg)" />
        </g>
        <g>
          <path
            id="star"
            d="M 5,0
          A 10,10 0 0,0 10,5
          A 10,10 0 0,0 5,10
          A 10,10 0 0,0 0,5
          A 10,10 0 0,0 5,0"
          ></path>
          <use href="#star" transform="scale(1.5)" id="star-large" />
          <use href="#star" transform="scale(0.7)" id="star-small" />
          <use href="#star" transform="scale(0.5)" id="star-tiny" />
        </g>
        <g id="stars">
          <use href="#star-tiny" x="60" y="15" />
          <use href="#star-tiny" x="53" y="-10" />
          <use href="#star-tiny" x="103" y="40" />
          <use href="#star-small" x="90" y="20" />
          <use href="#star-small" x="15" y="16" />
          <use href="#star-small" x="25" y="40" />
          <use href="#star" x="80" y="-10" />
          <use href="#star" x="63" y="37" />
          <use href="#star-large" x="25" y="-5" />
          <use href="#star-large" x="108" y="3" />
        </g>
        <g>
          <path
            id="cloud-outer"
            d="M0,65
              A32,32 0 0,1 34,40
              A40,40 0 0,1 67,30
              A25,25 0 0,1 97,30
              A15,15 0 0,1 112,20
              A25,25 0 0,1 127,10
              A20,20 0 0,1 150,-10
              L150,0
              L150,65"
          />
          <path
            id="cloud-inner"
            d="M0,65
              A32,32 0 0,1 34,50
              A40,40 0 0,1 65,45
              A55,55 0 0,1 109,43
              A15,15 0 0,1 112,38
              A30,30 0 0,1 127,30
              A30,30 0 0,1 150,13
              L150,0
              L150,65"
          />
        </g>
      </defs>
    </svg>
    <div class="bg-container">
        <canvas></canvas>
    </div>
    {% if title %}
        {% include "partials/post.njk" %}
    {% else %}
        {% include "partials/main.njk" %}
    {% endif %}
    <footer>
        <a href="/" class="root-link">
            <h3>Making UI</h3>
        </a>
         <div class="controls">
          {% include "partials/socials.njk" %}
        </div>
        <a href="#" class="reset-cookie-consent" onclick="cookieConsent(null)">Reset cookie settings</a>
    </footer>
    <div id="go-to-top" class="up-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-chevron-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
    </div>
    <div id="cookie-banner" class="cookie-banner">
        <div class="content">
            <div class="text">
                <h3>This site uses cookies</h3>
                <span>
                    In order to gather statistical data, this page uses cookies<br/>
                    You can change your preferences here
                </span>
            </div>
            <div class="actions">
                <button onclick="cookieConsent(0)">Reject</button>
                <button onclick="cookieConsent(1)" class="primary">Accept</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>
