---
layout: layouts/layout.njk
---
<article-box>
    <h1>
        <span class="title">{{ title }}</span>
        <span class="subtitle">{{ subtitle }}</span>
    </h1>
    {{ content | safe }}
</article-box>