ul.posts {
  article-box {
    .box {
      //@include box-colors-reset;
      @include box-border-size(0px);
      @include box-colors;

      border-radius: 15px;

      &,
      &::before {
        transition-duration: 200ms;
        transition-property: --border-angle, box-shadow, width, height, top,
          left;
      }
    }

    &:hover .box {
      @include box-border-size(5px);
    }
  }
}
