@import "variables/palette";

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background: $color-background;
  background: linear-gradient(
    90deg,
    $color-primary-background,
    $color-secondary-background
  );
  color: $color-foreground;

  .bg-container {
    --gradientee-color-from: #{$color-primary-background};
    --gradientee-color-to: #{$color-secondary-background};
    --gradientee-box-size: 60;
    --gradientee-seed: 3200;
    --gradientee-deflection-level: 20;
    --gradientee-color-randomness: 0;
    --gradientee-color-offset: 0.2;

    @media screen and (max-width: 1000px) {
      --gradientee-box-size: 40;
      --gradientee-color-offset: 0.3;
    }

    @media screen and (max-width: 700px) {
      --gradientee-box-size: 30;
      --gradientee-color-offset: 0.4;
    }

    @media screen and (max-width: 512px) {
      --gradientee-color-offset: 0.5;
    }

    z-index: -2;
    background-image: paint(gradientee);

    &,
    > canvas {
      position: fixed;
      width: 100vw;
      height: 100vh;
      filter: blur(5px);

      @media screen and (max-width: 1000px) {
        filter: blur(4px);
      }

      @media screen and (max-width: 700px) {
        filter: blur(3px);
      }

      @media screen and (max-width: 512px) {
        filter: blur(2px);
      }
    }

    > canvas {
      z-index: -1;

      @supports (background: paint(id)) {
        display: none;
      }
    }
  }
}
