/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

@import "variables/palette";

code,
pre {
  color: var(--code-text);
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  line-height: 1.5;
  text-align: left;
  text-shadow: var(--code-shadow);
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  direction: ltr;
}

/* Code blocks */
pre {
  margin: 0.5em 0;
  padding: 0.7em;
  overflow: auto;
  border-radius: 0.3em;
  font-size: 0.9em;
}

:not(pre) > code,
pre {
  border: 1px solid $color-border-light;
  border-radius: 0.7rem;
  background: var(--code-background);
}

.code {
  border: 1px solid $color-border-light;

  &,
  > iframe {
    border-radius: 0.7rem;
  }

  > iframe {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: 0;
  }
}

/* Inline code */
:not(pre) > code {
  padding: 0.2em;
  overflow-x: auto;
  border-radius: 0.3em;
  color: var(--code-inline);
  font-size: 0.85em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-punctuation);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag {
  color: var(--code-property);
}

.token.keyword {
  color: var(--code-keyword);
}

.token.class-name {
  color: var(--code-class-name);
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: var(--code-constant);
}

.token.symbol,
.token.deleted {
  color: var(--code-symbol);
}

.token.number {
  color: var(--code-number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-selector);
}

.token.variable {
  color: var(--code-variable);
}

.token.operator {
  color: var(--code-operator);
}

.token.entity {
  color: var(--code-entity);
  cursor: help;
}

.token.url {
  color: var(--code-url);
}

.language-css .token.string,
.style .token.string {
  color: var(--code-string);
}

.token.atrule,
.token.attr-value {
  color: var(--code-attribute);
}

.token.function {
  color: var(--code-function);
}

.token.regex {
  color: var(--code-regex);
}

.token.important {
  color: var(--code-important);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
