$color-background: var(--color-background);
$color-foreground: var(--color-foreground);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-border-light: var(--color-border-light);
