---
layout: layouts/layout.njk
---
<ul class="posts">
{%- for post in collections.post -%}
    <li>
        <a href="{{ post.url }}">
            <article-box animate>
              <h2>{{ post.data.title }}</h2><h3>{{ post.data.subtitle }}</h3>
            </article-box>
        </a>
    </li>
{%- endfor -%}
</ul>

