      <div class="switch on init">
        <svg viewBox="0 0 150 40" class="background">
          <use href="#bg" class="background-shades" />
          <g class="clouds">
            <use href="#stars" class="stars" y="-50" />
            <use href="#cloud-outer" class="cloud-outer" />
            <use href="#cloud-inner" class="cloud-inner" />
          </g>
        </svg>
        <div class="handle">
          <svg viewBox="0 0 20 20" width="3em" height="3em" class="craters">
            <circle r="3.5" cx="7" cy="12" />
            <circle r="2.5" cx="11" cy="5" />
            <circle r="2" cx="14.5" cy="12" />
          </svg>
        </div>
        <span class="shadow-container"></span>
    </div>