<header>
    <a href="/">
        <h1>
            <span class="title">{{ metadata.title }}</span>
            <span class="subtitle">{{ metadata.subtitle }}</span>
        </h1>
    </a>
    <div class="controls">
        {% include "partials/dark-switch.njk" %}
        {% include "partials/socials.njk" %}
    </div>
</header>
<nav class="main">
    {{ content | safe }}
</nav>