<header>
    <h1>
        <span class="title">{{ metadata.title }}</span>
        <span class="subtitle">{{ metadata.subtitle }}</span>
    </h1>
</header>
<nav class="main">
    {{ content | safe }}
</nav>
{# <div class="links">

</div> #}