<header>
<h2>
    <a href="/">
        <span class="title">{{ metadata.title }}</span>
        <span class="subtitle">{{ metadata.subtitle }}</span>
    </a>
</h2>
{% include "partials/topmenu.njk" %}
</header>
<main>
    {{ content | safe }}
</main>
{# <h1>{{ title }}</h1> #}
{# <div class="links">

</div> #}
