<header>
    <a href="/">
        <h2>
            <span class="title">{{ metadata.title }}</span>
            <span class="subtitle">{{ metadata.subtitle }}</span>
        </h2>
    </a>
    <div class="controls">
        {% include "partials/dark-switch.njk" %}
        {% include "partials/socials.njk" %}
    </div>
</header>
<main>
    {{ content | safe }}
</main>