<header>
    <a href="/">
        <h2>
            <span class="title">{{ metadata.title }}</span>
            <span class="subtitle">{{ metadata.subtitle }}</span>
        </h2>
    </a>
    {% include "partials/topmenu.njk" %}
</header>
<main>
    {{ content | safe }}
</main>